@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 14px;
}

.header-nav {
  border-bottom: 1px solid #b5b5b5;
}

@media screen and (min-width: 576px) {
  :root {
    font-size: 16px;
  }
}
