:root {
  font-size: 16px;
}

.header-nav {
  border-bottom: 1px solid #b5b5b5;
}

.hero {
  min-height: 100vh;
  position: relative;
  overflow-y: hidden;
}

.mulai-belajar {
  border: 1px solid #b5b5b5;
  box-shadow: 5px 5px 0 .5px #171717;
  transition: 150ms;
  position: relative;
  top: 0px;
  left: 0px;
}

.mulai-belajar:hover {
  top: 2.5px;
  left: 2.5px;
  box-shadow: 2.5px 2.5px 0 #171717;
}
